// CUSTOM CSS
// by Andre Nata
// ================
body {
    font-family: 'PT Sans', Tahoma, sans-serif;
}

// VARIABLE
$blue: #406a7f;
$white: #fff;
$black: #2f3134;
$yellow: #f2e11c;

.DefaultTitle {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.BoxDefault {
    padding: 20px;
}
.BoxGrey {
    background-color: #f7f7f7;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
}
h1.CarName {
    font-size: 16px;
    line-height: 18px;
}


// HEADER
.header {
    background-color: $blue;
    color: #fff;
    padding: 10px 0;

    .logo {
        max-width: 200px;
    }
    .nav {
        padding-top: 15px;
    }
    .nav li a {
        color: $white;
        &:hover {
            color: $yellow;
        }
    }
    .NavLoginButton {
        display: inline-block;
        border: 1px solid $white;
        border-radius: 3px;
    }
}

// WELCOME TEXT
.WelcomeText {
    text-align: center;
    color: $black;
    padding: 30px 0 20px 0;

    h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 5px;
    }
}

// CATALOG GRID
.CarCatalogGrid {
    margin-bottom: 10px;

    .form-check-input {
        float: right;
        position: relative;
    }
}