// CUSTOM CSS
// by Andre Nata
// ================
body {
    font-family: 'PT Sans', Tahoma, sans-serif;
}
p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}
h1 { font-size: 26px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }


// VARIABLE
$blue: #406a7f;
$white: #fff;
$grey : #66777f;
$black: #2f3134;
$yellow: #f2e11c;

a { 
    color: $blue; 
    text-decoration: none; 
}

.DefaultTitle {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.TitleBorderLeft {
    border-left: 3px solid $blue;
    padding-left: 10px;
}

.BoxDefault {
    padding: 20px;
    box-shadow: 2px 7px 9px -4px rgba(131,128,128,0.62);
    -webkit-box-shadow: 2px 7px 9px -4px rgba(131,128,128,0.62);
    -moz-box-shadow: 2px 7px 9px -4px rgba(131,128,128,0.62);
    margin-bottom: 20px;
}
.BtnShadow {
    border: none;
    box-shadow: 2px 7px 9px -4px rgba(131,128,128,0.62);
    -webkit-box-shadow: 2px 7px 9px -4px rgba(131,128,128,0.62);
    -moz-box-shadow: 2px 7px 9px -4px rgba(131,128,128,0.62);
}
.BoxGrey {
    background-color: #f7f7f7;
}
h1.CarName {
    font-size: 16px;
    line-height: 18px;
}
.BtnRight {
    position: relative;
    float: right;
}
.BtnCenter {
    position: relative;
    text-align: center;
}
.logo {
    max-width: 200px;
}

// ICON
.iconSmall {
    max-height: 10px;
    margin-left: 3px;
}
.iconMedium {
    max-height: 15px;
    margin-left: 3px;
}
.iconLarge {
    max-height: 20px;
    margin-left: 3px;
}


// HEADER
.header {
    background-color: $blue;
    color: #fff;
    padding: 10px 0;

    .nav {
        padding-top: 15px;
    }
    .nav li a {
        color: $white;
        &:hover {
            color: $yellow;
        }
    }
    .NavLoginButton {
        display: inline-block;
        border: 1px solid $white;
        border-radius: 3px;
    }
}

// WELCOME TEXT
.WelcomeText {
    text-align: center;
    color: $black;
    padding: 30px 0 20px 0;

    h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 5px;
    }
}

// BEST PRODUCTS
.col-3.float-left {
    padding: 10px;

    .SlideCar {
        box-shadow: 2px 7px 9px -4px rgb(131 128 128 / 62%);
        -webkit-box-shadow: 2px 7px 9px -4px rgb(131 128 128 / 62%);
        -moz-box-shadow: 2px 7px 9px -4px rgba(131,128,128,0.62);
    }
}

.SlideCarDesc {
    padding: 10px;
    h2, h3 {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0;
    }

    .AreaDetail {
        padding: 10px 0 0 0;
    }
}

// CATALOG GRID
.AllCars {
    padding: 30px 0;
}
.CarCatalogGrid {
    margin-bottom: 10px;

    .form-check-input {
        float: right;
        position: relative;
    }
}

// FnQ
.AreaFnQ {
    padding: 30px;
    width: 70%;
    margin: 0 auto;
    .HeaderFnQ {
        border-bottom: 2px solid $blue;

        h2 {
            font-size: 26px;
            line-height: 28px;
            margin-bottom: 10px;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            margin-top: 10px;
            padding-left: 15px;
            border-left: 2px solid $blue;
            h1 {
                font-size: 18px;
                font-weight: bold;
                a {
                    color: $black;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }
    
}


// FOOTER
.AreaFooter {
    background-color: $grey;
    padding: 30px 0;
    color: $white;
    .LineRight {
        border-right: 3px solid $blue;
    }
    img {
        margin-bottom: 20px;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            margin-bottom: 5px;
            list-style-type: none;

            a {
                color: $white;
                text-decoration: none;

                &:hover {
                    color: $yellow;
                }
            }
        }
    }
}

// COPYRIGHT
.copyright {
    padding: 20px 0;
    background-color: $blue;
    p {
        color: $white;
        font-size: 18px;
    }
}

// CUSTOM BOOTRAP CSS
.carousel-control-prev-icon {
    background-image: url('../assets/img/icon/arrowLeftSlide.png');
}
.carousel-control-next-icon {
    background-image: url('../assets/img/icon/arrowLeftSlide.png');
}

